<a [routerLink]="['/list']">Cancel</a>
<form class="" (submit)="onSubmit()" method="post" #formData = 'ngForm'>
  <legend class="leg">
    <label>Question:</label>
      <input type="text" name="question"
        required
        minlength = "8"
        [(ngModel)]="poll.question"
        #question="ngModel"
      ><span class = "red" *ngIf='(!question.valid)'>Question is not valid</span><br>
    <label>Answer 1:</label>
      <input type="text" name="answer1"
        required
        minlength = "3"
        maxlength = "50"
        [(ngModel)]="poll.answers[0]"
        #answer1="ngModel"
      ><span class = "red" *ngIf='(!answer1.valid)'>Answer 1 is not valid</span><br>
      <label>Answer 2:</label>
        <input type="text" name="answer2"
          required
          minlength = "3"
          maxlength = "50"
          [(ngModel)]="poll.answers[1]"
          #answer2="ngModel"
        ><span class = "red" *ngIf='(!answer2.valid)'>Answer 2 is not valid</span><br>
        <label>Answer 3:</label>
          <input type="text" name="answer3"
            required
            minlength = "3"
            maxlength = "50"
            [(ngModel)]="poll.answers[2]"
            #answer3="ngModel"
          ><span class = "red" *ngIf='(!answer3.valid)'>Answer 3 is not valid</span><br>
          <label>Answer 4:</label>
            <input type="text" name="answer4"
              required
              minlength = "3"
              maxlength = "50"
              [(ngModel)]="poll.answers[3]"
              #answer4="ngModel"
            ><span class = "red" *ngIf='(!answer4.valid)'>Answer 4 is not valid</span><br>
  </legend>
  <input id = "subbutton" type="submit" name="" value="Create Poll" [disabled]="(!formData.valid)" >
</form>
